body {
    background-color: #F6F2EB;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #0CC0DF, #FFDE59); /* Fondo con degradado lineal */
    padding: 10px 20px;
}

.title {
    font-size: 24px; /* Ajuste el tamaño de la fuente */
    color: #323232;
    font-weight: bold;
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Ajusta la altura para centrar verticalmente */
    padding: 20px; /* Padding para dispositivos pequeños */
}

.card_login {
    width: 90%;
    max-width: 1133px;
    height: auto;
    max-height: 700px;
    border: 2px solid #C1C1C1; /* Borde de 2px de color #C1C1C1 */
    border-radius: 20px; /* Radio de 20px */
    padding: 20px; /* Ajusta el padding según tus necesidades */
    margin: 20px auto; /* Centrado horizontal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_img {
    max-width: 20%; /* Ajusta el tamaño de la imagen */
}

.form-control {
    height: 50px; /* Ajusta la altura del input */
    padding-left: 50px; /* Deja espacio para el ícono dentro del input */
    margin-top: 10px;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Ajusta el ancho según sea necesario */
    margin-top: 20px;
}

.input-container img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.recover-password {
    margin-top: 20px;
    color: #045E6E;
    text-decoration: none;
}

.recover-password:hover {
    text-decoration: underline;
}

.btn-primary {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    height: 50px; /* Ajusta la altura del botón */
    background-color: #045E6E;
    border-radius: 10px;
    color: white; /* Color del texto */
    border: none;
}

/* Media Queries para dispositivos responsivos */
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .card_login {
        width: 95%;
        padding: 10px;
    }

    .form-control {
        height: 45px;
    }

    .btn-primary {
        height: 45px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 18px;
    }

    .logo_img {
        max-width: 30%;
    }

    .form-control {
        height: 40px;
    }

    .btn-primary {
        height: 40px;
    }
}
